<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gamboa.troy.WattsOn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.gamboa.troy.WattsOn.AboutActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".StatisticsActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".HouseDataActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".HouseRegisterActivity" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".ShowUserData" />
        <activity android:name=".EditUserData"></activity>
    </application>

</manifest>